$inner-nav-color: rgb(52, 58, 64);

.admin-page-wrapper {
  padding: 0 2rem;
}

.admin-page-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fe981b;

  .navigation-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    background-color: $inner-nav-color;
    color: #fff;

    &--item {
      font-family: Arial;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 120px;
      height: 100%;
      border-left: solid 1px #fff;
      color: #fff;

      span {
        margin: 0 4px;
      }

      &:hover {
        background-color: #242b34;
        cursor: pointer;
      }
    }
  }
}

// upper section
.upper-section {
  display: grid;
  grid-template-columns: auto 350px;
  grid-template-rows: 300px;
  grid-gap: .55rem;
  margin: .7rem 0;
}

.config-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $inner-nav-color;
  color: #fff;
  border-radius: 4px;
  padding: 2rem;

  &--item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;

    label {
      font-size: 15px;
    }
    button {
      background: unset;
      outline: none;
      border: none;

      &:hover {
        cursor: pointer;
        i.on{
          color: #70af09;
        }
        i.off{
          color: #de0a0a;
        }
      }
    }
    i {
      font-size: 35px;

      &.on {
        color: #94e903;
      }

      &.off {
        color: #A40808;
        transform: scaleX(-1);
      }
    }
  }
}

// content
.content-section {
  margin: .3rem 0;
}

#add-product-btn {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .6rem;
  background-color: #94e903;
  border: none;
  outline: unset;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: #73b403;
  }

  i {
    margin-left: 5px;
    color: darkgreen;
    font-size: 20px;
  }
}

#description-panel{
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 200px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 15px;
  border: solid 2px #000;
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0, .3);
}