.contact-form{
  padding: 4rem 8rem;
  border-radius: 15px;
  border-right: solid #fe981b 5px;
  border-left: solid #fe981b 5px;
  border-bottom: solid #fe981b 5px;
  margin-top: -1rem;
  margin-bottom: 40vh;
  width: 100%;
  .radios{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 1rem;
  }
  select{
    font-size: 20px;
    width: 100%;
    padding: 1.2rem;
  }
  .form-in{
    width: 200px;
    padding: 1rem;
  }
  #form-in-submit{
    width: 300px;
    &:hover{
      cursor: pointer;
      background-color: #fe981b;
    }
  }
}

.fields{
  display: grid;
  grid-template-columns: auto auto auto auto;
}